*{
    margin: 0;
    font-family: Arial;
}

header{
    background-color: #7CC6FE;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav{
    display: flex;
    gap: 9rem;
}

header a:hover{
    text-decoration: underline;
}

section{
    border: 1px solid rgb(255, 0, 0);
    height: calc(100vh - 6rem);
}
#listas{
    margin-top: 6rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}








 
